.room-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

.flex-container {
	display: flex;
	flex-direction: column;
	background-color: dodgerblue;
}

.home-label {
	display:inline-flex;
	width:16em;
	border: solid 3px goldenrod;
	border-radius: 4px;
	padding: 5px;
}

.dbstatus-parent {
	margin: 2px;
}

.dbstatus-success {
	border: solid 3px greenyellow;
	border-radius: 6px;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin: 5px;
	display: inline-block;
}

.dbstatus-failed {
	border: solid 3px red;
	border-radius: 6px;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin: 5px;
	display: inline-block;
}

.dbcheck {
	background-color: blueviolet;
	color: gray;
}